<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div id="app">
        <div class="goods" v-for="(goods,goodsIndex in goodsList" :key="goods.id">
            <div class="title">{{ goods.title }}</div>
            <ul class="type-list">
                <li class="type" 
                v-for="(type,typeIndex) in goods.typeList" 
                :key="type" @click=changeActive(type,goodsIndex,typeIndex) 
                :class="typeIndex == selectGoods[goodsIndex]?'active':''"
                >{{ type }}</li>
            </ul>
        </div>
        <div class="choose-type">
            <div>已选条件:</div>
            <span class="no-goods" v-if="!showFilterList">暂时没有选择过滤条件</span>
            <ul class="filter-list">
                <li v-for="(filterItem,index) in filterObj">{{ filterItem }}
                    <span class="delte-goods" @click="deleteFilterGoods(index)">x</span>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                filterObj:{},//用于渲染下面过滤条件的数据
                selectGoods:[0,0,0], //用于渲染列表中选中元素的数据         
                showFilterList:false,    
                goodsList: [{
                        title: '上装',
                        typeList: ['全部', '针织衫', '毛呢外套', 'T恤', '羽绒服', '棉衣', '卫衣', '风衣'],
                        id: 1,
                    },
                    {
                        title: '裤装',
                        typeList: ['全部', '牛仔裤', '小脚/铅笔裤', '休闲裤', '打底裤', '哈伦裤'],
                        id: 2,
                    },
                    {
                        title: '裙装',
                        typeList: ['全部', '连衣裙', '半身裙', '长袖连衣裙', '中长款连衣裙'],
                        id: 3,
                    }
                ],
            },
            methods: {
                changeActive(type,goodsIndex,typeIndex){
                    if(type=="全部"){
                        this.$delete(this.filterObj, goodsIndex);
                    }
                    else{
                        this.showFilterList = true;
                        this.$set(this.filterObj, goodsIndex, type);
                    }
                    this.$set(this.selectGoods, goodsIndex, typeIndex);
                },
                deleteFilterGoods(filterObjIndex){
                    this.$delete(this.filterObj,filterObjIndex);
                    this.$set(this.selectGoods, filterObjIndex, 0);
                    if(JSON.stringify(this.filterObj)=="{}"){
                        this.showFilterList = false;
                    };
                }
            }
        })
    </script>

</body>

</html>